%section.job-listing
	%h2 Job Listings
	%br
	%button.add-job-listing Add Job 
	%br
	%table
		%th
			%td Job Title
			%td Company
			%td Date Posted
		%tr
			%td Software Engineer
			%td	Yogoshu Co.
			%td 6/15/15

