@import 'global';

/*   Sign Up Buttons  */

button.sign-up-nav {
	background-color: $teal;
	border-radius: 3px;
	color: white;
	font-size: 1.1em;
	padding: 3px 15px 5px 15px;
	white-space: nowrap;
}


/*   Login Buttons  */

