/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 	/* Resets */
	html {
		box-sizing: border-box;
	}
	*, *:before, *:after {
		box-sizing: inherit;
	}
	body {
		margin: 0;
		padding: 0;
		/* http://uigradients.com/#Horizon */
	  background: -webkit-linear-gradient(#003973 10%, #E5E5BE 90%); /* Chrome 10+, Saf5.1+ */
	  background:    -moz-linear-gradient(90deg, #003973 1%, #E5E5BE 80%); /* FF3.6+ */
	  background:     -ms-linear-gradient(90deg, #003973 1%, #E5E5BE 80%); /* IE10 */
	  background:      -o-linear-gradient(90deg, #003973 1%, #E5E5BE 80%); /* Opera 11.10+ */
	  background:         linear-gradient(90deg, #003973 1%, #E5E5BE 80%); /* W3C */      
	}